<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Pictures</title>
</head>
<body>
<header class="container">
  <nav th:replace="nav :: navbar"></nav>
</header>
<main class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="src/main/resources/static/pics/armadillo.png" class="d-block w-100" alt="stílus">
      </div>
      <div class="carousel-item">
        <img src="src/main/resources/static/pics/dikdik.png" class="d-block w-100" alt="elegancia">
      </div>
      <div class="carousel-item">
        <img src="src/main/resources/static/pics/meerkat.png" class="d-block w-100" alt="rajság finomság">
      </div>
    </div>
  </div>
</main>
<footer class="container">
  <div class="alert alert-dark" role="alert">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at ex illo nesciunt repellat tempore? Assumenda, dignissimos eos explicabo facere hic incidunt laboriosam minima modi nemo nostrum quia quos tempora.
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>